@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
html{
    width: 100%;
}

header{
    margin-top: 20px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    font-size: 2rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.2rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;


}

@media(max-width:995px){
    nav{
        position: absolute;
        top:100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active{
        display:block;
    }
    nav a{
        display: block;
        font-size: 1rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;

    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color:#b74b4b
}
.home-content{
    display: block;
}
.home-content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size: 1rem;
}
.home-img{
    border-radius: 50%;
}


.home-img img{
    position: relative;
    width: 45vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.1rem solid #b74b4b;
    font-size: 1rem;
    margin: 1rem 0.5rem 1rem;
    border-radius: 50%;
    transition: 0.3s ease;
    color:white;
}
.social-icons a:hover{
    color:black;
    transform: scale(1.3);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 3rem;
    font-size: 1rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: bold;
    border: 0.04rem solid #b74b4b;
    transition: 0.8s ease-in-out;


}
.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color:black;
    box-shadow: 0 0 25px #b74b4b;
}
.typing_text{
    font-size: 34px;
    font-weight: 600;
    min-width: 600px;
}
.typing_text span{
    position: relative;
}

.typing_text span::before{
    content: "Full stack developer";
    color: #b74b4b;
}

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 50vw;
        margin-top: 4rem;
    }
    .service{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .card{
        margin-top: 4px;
        padding: 2em;
        width: 300px;
        background: black;
        border-radius: 10px;
        text-align: center;
        position: relative;
        margin-left: 5px;
        margin-right: 10px;
        
    }
    .card h1{
        color:#b74b4b;
    }
    @property --angle{
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
    .main_container{
        display: flex;
        justify-content: space-between;
    }
    .card::after, .card::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), transparent 90%, #b74b4b);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        padding: 3px;
        border-radius: 10px;
        animation: 3s spin linear infinite;
    }
    .card::before{
        filter: blur(1.5rem);
        opacity: 0.5;
    }
    @keyframes spin{
        from{
            --angle: 0deg;
        }
        to{
            --angle: 360deg;
        }
    }


